
# Server
PORT=5000
# NODE_ENV=production
NODE_ENV=development

# Base URL
# BACKEND_URL=https://your-production-domain.com
BACKEND_URL=http://localhost:5000

# Frontend origin (used for CORS)
# FRONTEND_URL=https://your-frontend-domain.com
FRONTEND_URL=http://localhost:5173

# Gemini AI - get your key from https://aistudio.google.com/
GEMINI_API_KEY=xx.xxxxxxx.xxxxxx
GEMINI_MODEL=gemini-2.5-flash-lite

# Database
MONGO_URI=mongodb+srv://user_name/...
